@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Bine ați venit la CapitalMarketStory</h1>
    <p>
        Analiza financiară a firmei tale, simplificată.

        Acest proiect este dedicat analizei financiare a companiilor listate la data.gov.ro, Ministerul Finantelor.
        Scopul său este de a oferi investitorilor și analiștilor un instrument pentru evaluarea performanței financiare a companiilor,
        prin intermediul unor rapoarte detaliate și vizualizări interactive.
    </p>

</div>


