@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center py-5 mb-4 bg-light rounded shadow-sm" style="margin-top: 20px;">
    <h1 class="display-4 fw-bold" style="color: darkblue;">CapitalMarket<span style="color: darkorange;">Story</span></h1>
    <p> Analiza financiară a firmei tale, simplificată. Acest proiect este dedicat analizei financiare a companiilor listate la data.gov.ro, Ministerul Finantelor. Scopul său este de a oferi investitorilor și analiștilor un instrument pentru evaluarea performanței financiare a companiilor, prin intermediul unor rapoarte detaliate și vizualizări interactive. </p>
    <a asp-page="/Companies/Index" class="btn btn-primary btn-lg mt-4 px-5 shadow" style="border-radius: 10px;">
        Începe Analiza
    </a>
</div>



